@import '@fontsource/inter';

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-synthesis: none;
  background-color: #0d1117;
  color: white;

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }
}
